<h1>{{getArticleByTitle.title}}</h1>

{{#if getArticleByTitle}}
	<div class="getgetArticleByTitleByTitle">
		<p>Name: {{getArticleByTitle.title}}</p>
		<p>Price: {{getArticleByTitle.author}}</p>
		<p>Inventory: {{getArticleByTitle.body}}</p>
		<p>Url Title: {{getArticleByTitle.url_title}}</p>
	</div>
{{else}}
	<p>oops...</p>
{{/if}}