<h1>{{getArticleByTitle.title}}</h1>

{{#if getArticleByTitle}}
	<div class="getgetArticleByTitleByTitle">
		<p>Name: {{getArticleByTitle.title}}</p>
		<p>Price: {{getArticleByTitle.author}}</p>
		<p>Inventory: {{getArticleByTitle.body}}</p>
		<p>Url Title: {{getArticleByTitle.url_title}}</p>
	</div>
	<form action="http://localhost:3000/articles/{{getArticleByTitle.url_title}}/edit" method="get" enctype="application/x-www-form-urlencoded"><button>Update This Article</button></form>
{{else}}
	<p>oops...</p>
{{/if}}