<h1>ARTICLES</h1>

{{#each articlesList}}
<div class="articlesList">
	<p>Title: {{title}}</p>
	<p>Author: {{author}}</p>
	<p>Article: {{body}}</p>
	<p>Url Title: {{url_title}}</p>
	<form action="http://localhost:3000/articles/{{url_title}}" method="get" enctype="application/x-www-form-urlencoded"><button>Read This Article</button></form>
</div>
{{/each}}