<h1>EDIT PRODUCTS</h1>

{{#if productId}}
	<form action="http://localhost:3000/products/{{productId.id}}/edit/?_method=PUT"  method="post" enctype="application/x-www-form-urlencoded">
		<input type="hidden" name="id" value="{{productId.id}}">
		<label name="name">Product Name</label>
			<input name="name" type="text id="edit-name" value="{{productId.product_name}}"><br>
		<label name="POST-price">Price</label>
			<input name="price" type="text id="edit-price" value="{{productId.price}}"><br>
		<label for="POST-inventory">Inventory</label>
			<input name="inventory" type="text id="edit-inventory" value="{{productId.inventory}}"><br>
		<button type="submit">Submit</button>
	</form>
{{/if}}

<form action= "http://localhost:3000/products/{{productId.id}}/?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
	<button>Remove this Product</button>
</form>

</form>
<form action="http://localhost:3000/products" method="get">
	<button>
		View Products List
	</button>
</form>


<div class="productList">
	<p>Name: {{productId.product_name}}</p>
	<p>Price: {{productId.price}}</p>
	<p>Inventory: {{productId.inventory}}</p>
</div>
